#system-source

  #pictures
    a(ng-if="source.picture", href="{{source.url}}", target="_blank")
      img(ng-src="{{'images/sources/' + source.id + '/' + source.picture}}", title="{{source.name}}")

  h1 {{source.name}}
  h2(ng-click="refresh()", ng-class="{refresh: !loading && !source.crawling}", ng-attr-title="{{!loading && !source.crawling ? 'Refresh' : ''}}")
    i.fa.fa-refresh
    span {{system.name}}
  h3(ng-if="!loading && !source.crawling")
    span(ng-if="source.games.length > 1") {{source.games.length}} games
    span(ng-if="source.games.length < 2") {{source.games.length}} game

  .loading(ng-if="source.crawling")
    i.fa.fa-circle-o-notch.fa-spin
    span Crawling, please wait
    span.status {{status}}

  .loading(ng-if="loading && !source.crawling")
    i.fa.fa-circle-o-notch.fa-spin
    span Loading, please wait

  .no-entry(ng-if="!loading && !source.crawling && !source.games.length && !filters.name")
    span No game found while crawling

  #games(ng-if="source.games.length || filters.name")

    #filters(ng-if="source.games.length > 10")
      input(type="text", ng-model="filters.name", placeholder="Search")

    .no-entry(ng-if="!games.length")
      span No result

    div(infinite-scroll='showMore()', infinite-scroll-distance='1', infinite-scroll-container='"#content"')
      .channel(ng-repeat="game in games", ng-click="download(game)", ng-class="{'hover-disabled': game.downloaded || game.downloading, downloaded: game.downloaded, downloading: game.downloading}")
        .box
          span.helper
          i.fa.fa-check-circle-o(ng-if="game.downloaded")
          i.fa.fa-cog.fa-spin(ng-if="game.downloading")
          i.fa.fa-ban(ng-if="::!game.img")
          span.size(ng-if="::game.size") {{::game.size}}
          img(ng-if="::game.img", ng-src="{{::'api/proxy/?url=' + game.img}}")
          .footer
            .progress(style="right:{{100 * (1 - game.progression.percent)}}%")
              span

            span(ng-class="{long: game.name.length > 40}") {{::game.name}}
          i.fa.fa-download


