#home
  a(ui-sref="bios")
    i.fa.fa-microchip
    span BIOS

  a(ui-sref="arcade")
    i.flaticon-joystick
    span ARCADE

  a(ui-sref="computers")
    i.flaticon-black-keyboard
    span COMPUTERS

  a(ui-sref="consoles")
    i.fa.fa-gamepad
    span CONSOLES

  a(ui-sref="handheld")
    i.flaticon-gameboy
    span HANDHELD CONSOLES

  a.credits(ui-sref="credits") CREDITS