.content(ng-if="$ctrl.data")
  span.info(title="CPU Usage")
    i.fa.fa-microchip
    span(ng-class="{warning: $ctrl.data.currentLoad.avgload >= 50, danger: $ctrl.data.currentLoad.avgload >= 75}") {{$ctrl.data.currentLoad.avgload}}%

  span.info(title="CPU Temperature")
    i.fa.fa-thermometer-three-quarters
    span(ng-if="$ctrl.data.cpuTemperature.main > 0", ng-class="{warning: $ctrl.data.cpuTemperature.main >= 70, danger: $ctrl.data.cpuTemperature.main >= 80}") {{$ctrl.data.cpuTemperature.main}}°C / {{$ctrl.data.cpuTemperature.main | toFarenheight}}°F

  span.info(title="Memory Usage")
    span Memory
    span(ng-class="{warning: $ctrl.data.mem.used >= 50, danger: $ctrl.data.mem.used >= 75}") {{$ctrl.data.mem.used * 100 / $ctrl.data.mem.total | number:1}}%

  span.info(title="SD Card Usage", ng-repeat='fsSize in $ctrl.data.fsSize', ng-if='fsSize.fs="/dev/root"')
    i.fa.fa-hdd-o
    span(ng-class="{warning: fsSize.use >= 50, danger: fsSize.use >= 75}") {{fsSize.use}}%