#system.dropable(ng-class="{uploading: uploading.length}", ngf-drop, ngf-select, ng-model='files', ngf-drag-over-class="'dragover'", ngf-multiple='true', ngf-select-disabled='true', ngf-allow-dir='true')

  #pictures
    img(ng-src="{{'images/systems/' + system.picture}}", ng-if="!system.pictures.length", title="{{system.picture}}")
    img(ng-src="{{'images/systems/' + picture}}", ng-repeat="picture in system.pictures", title="{{picture}}")

  a.download(ng-if="downloadable", ui-sref="system_sources({section: system.section, systemId: system.id})")
    i.fa.fa-cloud-download

  h1 {{system.name}}

  uploading-list(list="uploading")

  .no-entry(ng-if="!games.length")
    span No ROM found

  ul#games(ng-if="games.length")
    li(ng-repeat="game in games")
      label
        input(type="checkbox", ng-model="selected[game]")
        span(ng-if="!unknown[game]") {{game | noExtension}}
        span.unknown(ng-if="unknown[game]") {{game}}

  #games-tools(ng-if="games.length")
    button(ng-disabled="!hasSelected()", ng-click="remove()")
      i.fa.fa-trash-o
      span Remove

  .drop-label
    i.fa.fa-download
    span Drop your ROMs for the {{system.name}} here