doctype
html(ng-app="app")
  head
    title Retro-Manager
    base(href='/')
    link(rel='icon', type='image/png', href='images/space_invader_black.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/fonts/flaticon/flaticon.css')
    script(type='text/javascript', src='vendors/angular/angular.min.js')
    script(type='text/javascript', src='vendors/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='vendors/ng-file-upload/ng-file-upload.min.js')
    script(type='text/javascript', src='vendors/socket.io-client/dist/socket.io.js')
    script(type='text/javascript', src='vendors/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
    script(type='text/javascript', src='vendors/angular-breadcrumb/dist/angular-breadcrumb.min.js')
    script(type='text/javascript', src='app.js')
    script.
      var systems = !{systems};
  body(ui-view)