doctype
html
  head
    title Retropie Manager
    base(href='/')
    link(rel='icon', type='image/png', href='images/space_invader_black.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #configMissing
      span Host system unknown, create your config file in config/hosts/default.json and restart