#bios
  padding-bottom 40px
  min-height 100%

  &.uploading
    padding-bottom 140px
    .drop-label
      display none

  .drop-label
    position fixed
    bottom 0
    right 0
    left 0
    text-align right
    padding 10px 20px
    color #ffac08
    background rgba(57, 57, 57, 0.72)
    i
      margin-right 5px
    span
      font-size 13px

  &:not(.dragover)
    .drop-label
      i
        display none
      span
        font-style italic
        color #7d7d7d

  > i
    position absolute
    left 15px
    top 15px
    font-size 40px
    color #fff

  h1
    padding 30px
    font-family 'Press Start 2P' !important
    color #fff
  
  #files
    margin 20px auto 0
    color #fff
    width 600px
    border 1px solid #8c8c8c
    border-radius 3px

    tr:nth-child(odd)
      background rgba(255, 255, 255, 0.1)
    tr:hover
      background rgba(255, 255, 255, 0.5)
      span
        color #ffb116

    tr.missing
      color #8c8c8c

    tr.unknown
      color #8c8c8c
      font-style italic

    th
      background #292929
      padding 4px
      text-align center

    td
      padding 6px 0

    td.icon
      width 25px
      .fa-question-circle-o
        color orange
      .fa-times-circle-o
        color #ff5050
      .fa-check-circle-o
        color #00af00

    td.chk
      width 30px
      text-align center

    td.md5
      width 170px
      span
        font-size 13px

    td.system
      width 170px
      span
        font-size 14px

    td.file
      span
        font-size 16px

  #files-tools
    width 600px
    margin 20px auto 0
    text-align left