#credits
  border 1px solid #fff
  border-radius 10px
  position absolute
  top 40px
  left 20px
  right @left
  bottom @left
  color #fff
  text-align left
  font-size 20px
  overflow auto
  min-height calc(100% - 60px) !important
  > div
    padding 20px
    height auto

  .community
    margin-left 10px

  .author
    color #00d8ff
    margin-left 5px

  .soft
    span
      font-size 30px
    img
      max-width 150px
      height auto
      vertical-align middle
    + .soft
      margin-left 50px

    &.wikipedia
      img
          max-width 60px

    &.vertical
      img
        max-width 100px

  a.inline
    margin-left 5px
    img
      max-height 32px
      vertical-align middle

@media (min-height: 630px)
  #credits > div
    margin-top calc(50vh - 120px)
    transform: translateY(-50%)