#home
  margin-top 28vh

  a
    display inline-block
    border 2px solid #bcbcbc
    border-radius 15px
    padding 25px 30px
    color #fff
    text-decoration none

    *
      vertical-align middle
    i
      font-size 50px
      margin-right 20px
    span
      font-size 25px

    & + a
      margin-left 30px

    &:hover
      color #ffac08
      border-color #ffac08
      box-shadow inset 0 0 10px 0 #ffac08
