#system
  padding-bottom 40px
  min-height 100%

  &.uploading
    padding-bottom 140px
    .drop-label
      display none

  .drop-label
    position fixed
    bottom 0
    right 0
    left 0
    text-align right
    padding 10px 20px
    color LINK_HOVER_COLOR
    background rgba(57, 57, 57, 0.72)
    i
      margin-right 5px
    span
      font-size 13px

  &:not(.dragover)
    .drop-label
      i
        display none
      span
        font-style italic
        color #7d7d7d

  #pictures
    position absolute
    left 15px
    top 15px
    img
      max-height 170px
      max-width 170px
      display block
      margin-bottom 20px

  .download
    position absolute
    right 15px
    top 15px
    i
      font-size 26px

  #games
    margin 20px auto 0
    font-size 12px
    color #fff
    width 600px
    border 1px solid #8c8c8c
    border-radius 3px

    li:nth-child(odd)
      background rgba(255, 255, 255, 0.1)
    li:hover
      background rgba(255, 255, 255, 0.5)
      span
        color #ffb116
    label
      position relative
      display inline-block
      width 600px
      cursor pointer
      padding 5px
      font-size 16px
      .unknown
        color #8c8c8c
        font-style italic
      input
        position absolute
        left 10px

  #games-tools
    width 600px
    margin 20px auto 0
    text-align left

@media (max-width: 975px)
  #pictures
    display none