#bios.dropable(ng-class="{uploading: uploading.length}", ngf-drop, ngf-select, ng-model='files', ngf-drag-over-class="'dragover'", ngf-multiple='true', ngf-select-disabled='true', ngf-allow-dir='true')

  #pictures
    i.fa.fa-microchip

  h1 BIOS

  uploading-list(list="uploading")

  .no-entry(ng-if="!bios.length")
    span No BIOS found

  table#files(ng-if="bios.length")
    thead
      tr
        th
        th
        th
          span MD5
        th
          span System
        th
          span File
    tbody
      tr(ng-repeat="item in bios", ng-class="{missing: item.missing}", ng-click="selected[$index] = !item.missing && !selected[$index]")
        td.chk
          input(type="checkbox", ng-model="selected[$index]", ng-disabled="item.missing")
        td.icon
          i.fa.fa-times-circle-o(ng-if="item.missing", title="Missing file")
          i.fa.fa-check-circle-o(ng-if="!item.missing")
        td.md5
          span {{item.md5}}
        td.system
          span {{item.system}}
        td.file
          span {{item.file}}

  #files-tools(ng-if="bios.length")
    button(ng-disabled="!hasSelected()", ng-click="remove()")
      i.fa.fa-trash-o
      span Remove

  .drop-label
    i.fa.fa-download
    span Drop your BIOS files here