#home
  a.bios(ui-sref="root.home.bios")
    i.fa.fa-microchip
    span BIOS

  a.sources(ui-sref="root.home.sources")
    i.fa.fa-bolt
    span SOURCES

  a.sections(ui-sref="root.home.section({section: 'arcades'})", ng-if="sections.arcades")
    i.flaticon-joystick
    span ARCADES

  a.sections(ui-sref="root.home.section({section: 'computers'})", ng-if="sections.computers")
    i.flaticon-black-keyboard
    span COMPUTERS

  a.sections(ui-sref="root.home.section({section: 'consoles'})", ng-if="sections.consoles")
    i.fa.fa-gamepad
    span CONSOLES

  a.sections(ui-sref="root.home.section({section: 'handhelds'})", ng-if="sections.handhelds")
    i.flaticon-gameboy
    span HANDHELD CONSOLES

  a.sections(ui-sref="root.home.section({section: 'others'})", ng-if="sections.others")
    i.fa.fa-question-circle-o
    span OTHERS

  a.credits(ui-sref="root.home.credits") CREDITS